li strong{
	font-weight:normal;
	font-style:italic ;
}
p strong{
	font-style: oblique;
}
div#head{
	width: 150px;
	border: 2px solid #66FFCC;
}
div#header a{color: #A9A9A9;font-weight: bold;}

div#header a:link{text-decoration: none;}
div#header a:hover{text-decoration: underline;}
li{
	list-style-type: none;
}
div#header li{display: inline-block;width: 150px;}
#sidebar p {
	font-style: italic;
	text-align: left;
	margin-top: 0.5em;
	}
div#music a:link{text-decoration: none;}
div#music a:hover{text-decoration: underline;}
div#music a{color: #00FFFF;font-weight: bold ;}
#sidebar{border: 1px solid #E6E6FA; width: 150px;
	padding: 15px ;background: azure;}
.table{background: azure; color: black;border: 1px solid black;}
[title=p]{color: #66FFCC;}
input
{
	width: 100px;
	height: 20px;
	margin-bottom: 10px;
	background-color: aliceblue;
	font-family: "微软雅黑";
}
input[type=button]
{
	width: 50px;
	height: 20px;
	background: burlywood;
	font-family: nina;
}
div#head a img{opacity: 0.4;}
div#head a img:hover{opacity: 0.9;}
body{background:url(../pictures/buka.gif) no-repeat fixed 50% 50%}
p.p{background-color: azure;opacity: 0.4;   padding: 20px; width: 100px;}
p.p:hover{opacity: 1.0;}
p.plural {text-indent: -5em;padding-left: 5em;}
div#pd{width: 500px;}
div#pd p{text-indent: 10%;
text-transform: capitalize;
text-decoration:underline;
}
p.pp{white-space: pre;direction: ltr;font-weight: bold;font-size: 20px;}
div#pd a{display: block ;width: 80px;text-align: center;  text-decoration: none;background-color: aquamarine;font-size: 20px;padding: 5px; font-weight: bold;margin-bottom: 10px;}
div#pd a:link{border-style:outset ;}
div#pd a:hover{ text-decoration: underline;background-color: chartreuse;}
div#pd a:active{border-style: inset;}
div#pd button{ margin-bottom: 10px; background-color: #B0E0E6;text-align: center;padding: 5px;display: block;width: 60px;}
div#pd button:hover{background-color: aquamarine;}
div#tab1 table,th,td{border: 1px solid cadetblue;}
div#tab1 table{border-collapse: collapse;width: 100%;}
div#tab1 th,td{height: 50px;text-align: center;padding: 10px;}
a.bord{border-style: solid;width: 20px;display: block ;width: 80px;text-align: center; border-width: 2px;border-color: transparent;}
a.bord:hover{border-color: #5F9EA0;}
